// Specific CSS for your home-page

.home-wrapper {
    position:relative;
    .home-logo {
        width:200px;
        margin:30px auto;
    }
    .btn-classic-dark {
        position:absolute;
        right:-20px;
        top:-30px;
    }

    .config {
        margin-top:-60px;
        margin-bottom:30px;
        display:flex;
        align-items: end;
        position:relative;
    }

    .left, .right {
        flex:1;
    }
}

