// Specific CSS for your home-page

.home-wrapper {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding: 20px 0 40px 0;

    .home-logo {
      width:200px;
      margin:0px auto;
    }
    .btn-classic-dark {
      position:fixed;
      right:-20px;
      top:-30px;
    }

    .config {
      margin:30px;
      display:flex;
      align-items: end;
      position:relative;
    }

    .left, .right {
      flex:1;
    }

    .right .rules {
      line-height:30px;
    }

    #new_game {
      display: flex;
    }

    #imgs-container {
      display:flex;
      align-items:center;
      justify-content:center;
      flex-direction:column;

      div {
          position: relative;
      }
    }

    .imgs {
      width: 160px;
      height: 160px;
      margin: 0 auto;
    }

    #switch-btn {
      position: absolute;
      right: 40px;
      bottom: -33px;
      cursor: pointer;
    }

    #minus, #plus {
      cursor: pointer;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

.btn-rules {
  position: absolute;
  top: 3%;
  right: 7%;
}

