// Style pour le render on_going



// Container global les avatar des joueurs
.container-player-avatar{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  height: 200px;
}

// Class avatar joueur
.player-avatar {
  width: 180px;
  height: 120px;
  color: white;
}


// Container defausse et pioche
.container-pioche-defausse{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 200px;
}

// Class pioche et defausse
.pioche-defausse {
  width: 200px;
  height: 250px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Class card current player
.card-pioche{
  background-color:tomato;
  width:150px;
  height:200px;
  border:1px solid red;
  color: white;
}






// Container cards current player
.container-card-current-player{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 200px;
}

// Container cards current player
.container-card-current-player a:hover{
  text-decoration: none;
}


// Class card current player
.card-current-player{
  width: 120px;
  height: 200px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 5px;
}




// Visuel carte de la main en éventail

.container-cards {
  width:800px;
  margin:260px auto;
}

.cards {
  position:relative;
  margin:0 auto;
  transform:rotate(-8deg);
}

.card {
  position:absolute;
  background-color:tomato;
  width:150px;
  height:200px;
  border:1px solid red;
  transition:.5s;
  top:0px;
  transform:rotate(-23deg);
}

$rotate : -5;
@for $i from 1 through 10 {
  .card:nth-child(1n + #{$i}) {
    transform: translate(#{$i*7}em, #{$i/1}em) rotate(#{$rotate + $i*3}deg);    
  }
}

.card:hover {
  top:-10px;
  transition:.5s;
}







// pioche


.container-button{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding:10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  right: 180px;
  bottom: 300px;
}

.btn-resize{
  display:flex;
  justify-content: center;
  align-items: center;
  width:160px;
  height: 40px;
  bottom-padding: 30px;
}

.container-debug{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  right: 180px;
  bottom: 500px;
}

.current-player-style {
  border: 1px solid yellow;
}
