// Style pour le render on_going



// Container global les avatar des joueurs
.container-player-avatar{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  height: 200px;
}

// Class avatar joueur
.player-avatar {
  width: 180px;
  height: 120px;
  color: white;
  position: relative;
  h3 {
    opacity: .6;
  }
}

.player h3 {
  color:white;
  font-size:1rem;
  opacity: .6;
  letter-spacing: 0.4px;
}

// Le décompte des cartes
.card-count {
  position:absolute;
  background-image: asset-url("cards/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 84px;
  width: 61px;
  right: -25px;
  bottom: -70px;

}

// Class avatar joueur mort
.player-avatar-dead {
  width: 180px;
  height: 120px;
  color: grey;
}

// Container defausse et pioche
.container-pioche-defausse{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 200px;
}

// Class pioche et defausse
.pioche-defausse {
  color: white;
  margin: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(235, 235, 235, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.24);
  box-shadow: inset 0px -2px 19px rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  padding: 24px;
  height: max-content;
  h3 {
    font-size:18px;
    letter-spacing:0.25px;
    opacity:.4;
    font-weight:700;
    margin-top: -10px;
    margin-bottom: 13px;
  }
}

// Class card current player
.card-pioche{
  width:150px;
  height:200px;
  color: white;
}






// Container cards current player
.container-card-current-player{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 200px;
}

// Container cards current player
.container-card-current-player a:hover{
  text-decoration: none;
}


// Class card current player
.card-current-player{
  width: 120px;
  height: 200px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 5px;
}




// Visuel carte de la main en éventail

.container-player-interface {
  width:800px;
  margin:0 auto;
  position:absolute;
  bottom:160px;
}

.cards {
  position:relative;
  margin:0 auto;
  transform:rotate(-8deg);
}

.card {
  position:absolute;
  width:143px;
  height:200px;
  transition:.5s;
  top:0px;
  transform:rotate(-23deg);

  &__playable {

  }

  &__inactif::after {
    content: ""; // ::before and ::after both require content
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #41414193, #4e4e4e);
    opacity: .7;
  }
}

.card-discard {
  width:143px;
  height:200px;
}


$rotate : -5;
@for $i from 1 through 10 {
  .card:nth-child(1n + #{$i}) {
    transform: translate(#{$i*7}em, #{$i/1}em) rotate(#{$rotate + $i*3}deg);
  }
}

.card:hover {
  top:-10px;
  transition:.5s;
}







// pioche

.container-button{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding:10px;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 180px;
  bottom: 150px;
}

.btn-resize{
  display:flex;
  justify-content: center;
  align-items: center;
}

.container-debug{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  right: 180px;
  bottom: 500px;
}

.current-player-style {
  border: 1px solid yellow;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 4s infinite;
}


.draw-card {
  width:270px;
  perspective: 500px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY( 180deg ) scale(0.4);
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotateY( 180deg ) scale(0.4);
}

.draw-card-wrapper .content:hover {
  width:150px;
  height:250px;
  perspective: 500px;
  transform: rotateX( 0deg ) scale(1) translate(100px, 0px);
  transition: transform 0.5s;
  //animation: bounce-6 2s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
}


// Wrapper card drawed
.card-pioche-wrapper {
  width:270px;
  & img {
    width: 100%;
  }
}

#card-viewer {
  opacity:0;
  box-shadow:0px 10px 40px rgba(0,0,0,.5);
  transition:.2s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      box-shadow: 0 0 0 30px rgba(204,169,44, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


// Quand plusieurs cartes piochée

.draw-many-cards{
  display:flex;
}

.draws{
  width:143px;
  height:200px;
}
