 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="rules d-block">
          <div class="title">Résumé des règles</div>
           <div class="rules-container">
            <div class="rules-col1">
                 <%= image_tag "covid_illustration.png", class:'avatar-large' %>
             </div>
             <div class="rules-col2 font-bold-rules">
                <p>Si tu chopes le COVID, <br> <span class="medium">T’AS PERDU.</span></p>
                <p>Si tu ne chopes pas le covid,  <br> <span class="medium">T’AS GAGNÉ.</span></p>
                <p>Les autres cartes  <br> <span class="medium"> t’aides à refiler ou te protéger du covid.</span></p>
             </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="rules d-block">
          <div class="title">C'est ton tour</div>
           <div class="rules-container">
            <div class="rules-col1 font-bold-rules medium">
                 <p>JOUES DES CARTES OU PASSE </p>
                  <br>
                  <p>TERMINE TON TOUR</p>
             </div>
             <div class="rules-col2 font-light-rules">
                <p>Sélectionne la carte que tu veux jouer et son effet s’appliquera. Tu ne pourras cibler que le joueur suivant. Tu peux en jouer autant que tu le souhaite.
                  Tu peux aussi décider de ne rien jouer</p>
                  <br>
                <p>Que tu aies choisis de jouer une carte ou passer n’y change rien, à chaque tour tu dois piocher une carte. </p>
             </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="rules d-block">
          <div class="title">Résumé des règles</div>
           <div class="rules-container">
            <div class="font-light-rules">
                 <p>Le dernier joueur à ne pas avoir le COVID remporte la partie. Vous ne serez jamais à court de cartes dans la pioche, car la défausse sera réutiliser comme pioche. Par contre, à ce moment là il n’y aura plus de KIT SANITAIRE supplémentaire.</p>
             </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>