 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="rules carousel-rules d-block">
          <%= image_tag "cards/covid.png", class:'' %>

          <div class="carousel-rules-content">
            <div class="overtitre">Les règles</div>
            <div class="title">Essayes de ne pas finir en réa...</div>
            <div class="content-text">
              Si tu choppes la COVID <span class="emphasize">T'AS PERDU !</span>
              Si tu ne choppes pas la COVID <span class="emphasize">TU GAGNES !</span>
              Les autres cartes t’aides à refiler ou te protéger du covid.
            </div>
          </div>

        </div>
      </div>

      <div class="carousel-item">
        <div class="rules carousel-rules d-block">
          <%= image_tag "cards/cluster.png", class:'' %>

          <div class="carousel-rules-content">
            <div class="overtitre">Quand c’est ton tour</div>
            <div class="title">Joue tes cartes</div>
            <div class="content-text">
              Sélectionne la carte que tu veux jouer et son effet s’appliquera. <span class="emphasize">Ta cible est le joueur suivant !</span> Tu peux en jouer autant que tu le souhaite.
              Tu peux aussi décider de ne rien jouer. <span class="emphasize">Fini ton tour en piochant.</span>
            </div>
          </div>

        </div>
      </div>

      <div class="carousel-item">
        <div class="rules carousel-rules d-block">
          <%= image_tag "cards/pair_villageoise.png", class:'' %>

          <div class="carousel-rules-content">
            <div class="overtitre">Voles des cartes</div>
            <div class="title">Joue les pairs</div>
            <div class="content-text">
              Ces cartes te permettront peut être de voler <span class="emphasize">la carte qu'il te faut </span> pour avancer sereinement !
            </div>
          </div>

        </div>
      </div>

      <div class="carousel-item">
        <div class="rules carousel-rules d-block">
          <%= image_tag "cards/kit.png", class:'' %>

          <div class="carousel-rules-content">
            <div class="overtitre">Protèges toi</div>
            <div class="title">La santé avant tout</div>
            <div class="content-text">
              Le seul moyen (connu à ce jour) pour ne pas chopper la COVID. <span class="emphasize">c'est le kit sanitaire !</span> Essayes d'en avoir un maximum !
            </div>
          </div>

        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
