
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



  <h1>Button create big shadow </h1>
  <%= button_tag type: 'submit', class: "btn btn-create" do %>
    <p><i class="fas fa-search" ></i>  CREER UNE PARTIE</p>
  <% end %>



 <h1>Button invite big shadow </h1>
  <%= button_tag type: 'submit', class: "btn btn-invite" do %>
    <p><i class="fas fa-search" ></i>  INVITER</p>
  <% end %>



 <h1>Button classic light big shadow </h1>
  <%= button_tag type: 'submit', class: "btn btn-classic-light" do %>
    <p>BUTTON</p>
  <% end %>


  <h1>Button classic dark big shadow </h1>
  <%= button_tag type: 'submit', class: "btn btn-classic-dark" do %>
    <p>BUTTON</p>
  <% end %>
