<div class="main-wrapper text-center home-wrapper">
<%= link_to root_path do%>
    <div class="btn-classic-dark">Retour</div>
  <% end %>

  <%= image_tag "gare-au-covid.png", class:'home-logo' %>

  <%= render 'shared/rules' %>
</div>