
<!--Affichage des infos de la pioche (supprimé) -->
<div class="main-wrapper text-center" id="<%= dom_id(@game) %>"
     data-reflex-root="[board]"
     data-controller="player"
     data-player-id-value="<%= @current_player.id %>" >
  <!-- Affichage des infos de la partie -->
  <%= render 'games/board', ordered_players: @ordered_players, game: @game, board_player: @current_player %>
</div>

<!-- Affichage button regles -->
<!-- <%= render 'games/rules' %> -->



