<h1>C'est le feu ce jeu!</h1>

<%= params  %>

<%=  link_to 'pioche', draw_game_path(@game), method: "patch" %>

<p> <%= link_to 'Play card', game_played_cards_path(@game, {card_code: "mix"}), method: "post" %> <p>
