

<!--Affichage des infos de la pioche (supprimé) -->
<div class="main-wrapper text-center" id="<%= dom_id(@game) %>"
     data-reflex-root="[board]"
     data-controller="player"
     data-player-id-value="<%= @current_player.id %>" >
  <!-- Affichage des infos de la partie -->
  <%= render 'games/board', ordered_players: @ordered_players, game: @game, board_player: @current_player %>
</div>



<%= link_to rules_path(@pages), class:'btn-rules' do%>
  <div class="btn-classic-dark">Accède aux règles</div>
<% end %>
