
// ------------------------------------------- Btn create ----------------------------------------//


.btn-create{
  background: #FFFFFF !important;
  box-shadow: 0px 5px 0px #2D1925;
  border-radius: 6px !important;
  padding: 18px 24px !important;
  font-weight: bold;
  width: fit-content;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  transition:.3s;
  color:$dark !important;
}

.btn-create:before {
  content: "#";
}

.btn-create:hover {
  background: #3B103C !important;
  color: white !important;
  text-decoration: none;
  box-shadow: 0px 2px 0px #2D1925;
  transform:translateY(4px);
  transition:.3s;
}

.btn-create:active {
  background: #FFFFFF;
  box-shadow: 0px 2px 0px #2D1925;
}


.btn-create-inactive{
  background: $inactive;
  box-shadow: 0px 5px 0px #2D1925;
  border-radius: 6px !important;
  padding: 18px 24px !important;
  font-weight: bold;
  width: fit-content;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  transition:.3s;
  color:$dark !important;
}

// .btn-create{
//   background: #646464;
// }

// ------------------------------------------- Btn invite ----------------------------------------//

.btn-invite {
  background: #FFFFFF;
  width: 145px;
  height: 57px;
  padding: 17px 11px;
  box-shadow: 0px 5px 0px #2D1925;
  border-radius: 5px;
}

.btn-invite:hover {
  background: #3B103C ;
}

.btn-invite:active {
  background: #FFFFFF;
  box-shadow: 0px 3px 0px #2D1925;
}

// .btn-invite {
//   background: #FFA4EC;
// }

// ------------------------------------------- Btn classic ligth ----------------------------------------//
.btn-classic-light {
  background: #FFFFFF;
  box-shadow: 0px 5px 0px #2D1925;
  border-radius: 6px;
  padding: 18px 22px;
  width: 112px;
  height: 56px;
}

.btn-classic-light:hover {
  background: #3B103C;
}

.btn-classic-light:active {
  background: #FFFFFF;
  box-shadow: 0px 3px 0px #2D1925;
}

// .btn-classic-light {
//   background: #FFA4EC;
// }

// ------------------------------------------- Btn classic dark ----------------------------------------//


.btn-classic-dark {
  background: #3B103C;
  border: 3px solid #E5E5E5;
  box-shadow: 0px 6px 0px #2D1925;
  border-radius: 5px;
  padding: 14px 25px;
  color:white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.25px;
}

.btn-classic-dark-small-shadow:hover {
  background: #3B103C ;
}

.btn-classic-dark-big-shadow:active {
  background: #3B103C;
  border: 3px solid #E5E5E5;
  box-shadow: 0px 6px 0px #2D1925;

}

// .btn-classic-dark-big-shadow:hover {
//   background: #646464;
// }








