.swal2-popup {
  background: rgba(0, 0, 0, .7) !important;

  .swal2-header .swal2-title {
    color: white !important;
  }

  .swal2-content {
    color: white !important;
  }

  .swal2-actions button {
    background-color: #e95e94;
    color: #37192e;
    font-weight: bolder;
  }
}


