.simple_form label {
    color:white;
}

.form-group {
    margin:0 !important;
}

input {
    background: rgba(235, 235, 235, 0.6) !important;
    border-radius: 50px !important;
    border:none !important;
    color:$green !important;
    font-weight: bold;
    text-align:center;
}
.form-control {
    padding:24px!important;
}

.form-control::placeholder,  {
    color:$green;
    font-weight: bold;
    color: #018D80;
    font-weight: bold;
    letter-spacing: 1.1px;
    font-size: 20px;
}

.counter {
    display:flex;
    align-items:center;
    justify-content:center;
}

#game_players_count {
    width:80px;
    margin:0 auto;
}
#game_players_attributes_0_name {
    width:220px;
    margin:0 auto;

}

.game_players_name, .label-count, .player_name {
    letter-spacing: 1.1px;
    opacity: 0.8;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}

.game_players_count label {
    display:none;
}

.minus, .plus {
    width:40px;
    height:40px;
    background-color:white;
    color:$green;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
